<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="http://sydneytesters.herokuapp.com/"/>
    <add key="Age" value="36"/>
    <add key="Email" value="xioza01@test.com"/>
    <add key="gender" value="female"/>
    <add key="occupation" value="Medium Risk"/>
    <add key="State" value="Western Australia"/>
    <add key="Name" value="xiong"/>
    <add key="Username" value="xiong@test.com"/>
    <add key="Password" value="password"/>
    <add key="CardNumber" value="4716570373579415"/>
    <add key="Cardcvv" value="096"/>
    <add key="Month" value="Apr (04)"/>
    <add key="Years" value="2017"/>
  </appSettings>
</configuration>